body {
  margin: 0;
  padding: 0px;
}

@font-face {
  font-family: font1;
  src: url('../assets/fonts/pixcyrFixed.ttf');
}

@font-face {
  font-family: font2;
  src: url('../assets/fonts/Uni0553fx.ttf');
}
